My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e9dd60f2-912d-46ed-8249-656648548493",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://res.cloudinary.com/dy0xvvpe6/video/upload/v1770351217/New_Surf_Excel_Matic_Liquid_tf9bjq.mp3",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        0
      ],
      "id": "fc5d4d55-d969-409a-be40-11f264bc3116",
      "name": "get sample audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "id": "3b8d7dff-45f3-4f5d-b04b-a67dbe99327e",
      "name": "speech to text",
      "credentials": {
        "groqApi": {
          "id": "gHvHHbjsfixeOxVb",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Input:\n- Brand list: {\n  \"brands\": [\n    \"Reliance\",\n    \"Jio\",\n    \"Airtel\",\n    \"Vodafone Idea\",\n    \"BSNL\",\n    \"Tata\",\n    \"Tata Motors\",\n    \"Tata Tea\",\n    \"Tata Salt\",\n    \"Tata Sky\",\n    \"Mahindra\",\n    \"Mahindra & Mahindra\",\n    \"Maruti Suzuki\",\n    \"Hyundai\",\n    \"Honda\",\n    \"Hero\",\n    \"Hero MotoCorp\",\n    \"Bajaj\",\n    \"TVS\",\n    \"Royal Enfield\",\n    \"Ashok Leyland\",\n\n    \"HDFC\",\n    \"HDFC Bank\",\n    \"ICICI\",\n    \"ICICI Bank\",\n    \"SBI\",\n    \"Axis Bank\",\n    \"Kotak Mahindra Bank\",\n    \"LIC\",\n    \"Bajaj Finserv\",\n    \"Bajaj Allianz\",\n    \"HUL\",\n    \"ITC\",\n    \"Patanjali\",\n    \"Dabur\",\n    \"Godrej\",\n    \"Britannia\",\n    \"Nestle\",\n    \"Amul\",\n    \"Parle\",\n    \"Marico\",\n    \"Colgate\",\n    \"Pepsodent\",\n    \"Surf Excel\",\n    \"Rin\",\n    \"Lux\",\n    \"Pears\",\n    \"Vim\",\n    \"Harpic\",\n    \"Dettol\",\n    \"Lifebuoy\",\n    \"Clinic Plus\",\n    \"Head & Shoulders\",\n\n    \"Coca-Cola\",\n    \"Pepsi\",\n    \"Thums Up\",\n    \"Sprite\",\n    \"Fanta\",\n    \"Mountain Dew\",\n    \"Red Bull\",\n    \"Bisleri\",\n    \"Kinley\",\n    \"Maaza\",\n    \"Slice\",\n    \"Real Juice\",\n    \"Paper Boat\",\n\n    \"Zomato\",\n    \"Swiggy\",\n    \"Blinkit\",\n    \"Zepto\",\n    \"BigBasket\",\n    \"Amazon\",\n    \"Flipkart\",\n    \"Myntra\",\n    \"Meesho\",\n    \"Ajio\",\n    \"Snapdeal\",\n    \"Nykaa\",\n    \"Reliance Smart\",\n    \"Reliance Digital\",\n\n    \"Samsung\",\n    \"Apple\",\n    \"Xiaomi\",\n    \"Redmi\",\n    \"Vivo\",\n    \"Oppo\",\n    \"OnePlus\",\n    \"Realme\",\n    \"Motorola\",\n    \"Sony\",\n    \"LG\",\n    \"Panasonic\",\n    \"Philips\",\n\n    \"Asian Paints\",\n    \"Berger Paints\",\n    \"Nerolac\",\n    \"Ultratech Cement\",\n    \"Ambuja Cement\",\n    \"ACC Cement\",\n    \"JSW Cement\",\n\n    \"PolicyBazaar\",\n    \"PhonePe\",\n    \"Google Pay\",\n    \"Paytm\",\n    \"Cred\",\n    \"Razorpay\",\n\n    \"Byju’s\",\n    \"Unacademy\",\n    \"Vedantu\",\n    \"WhiteHat Jr\",\n    \"Aakash\",\n    \"Allen\",\n\n    \"Dream11\",\n    \"My11Circle\",\n    \"MPL\",\n    \"WinZO\",\n\n    \"Sony LIV\",\n    \"Hotstar\",\n    \"Zee\",\n    \"Star Plus\",\n    \"Colors\",\n    \"Sun TV\",\n    \"Aaj Tak\",\n    \"NDTV\",\n    \"Republic TV\",\n    \"Times Now\"\n  ]\n}\n\n- Transcript: {{ $json.text }}\n\nTask:\n1. If the transcript is in Hindi or mixed Hindi-English, internally translate it to English.\n2. From the brand list, identify which brands are mentioned in the transcript.\n3. Log the details in the google sheet attached as tool\n\nRules:\n- Only consider brands from the provided brand list.\n- Do NOT invent or infer new brands.\n- If all detected brands already exist in \"Previously detected brands\", return None.\n- If at least one new brand is found, return ONLY the first new brand.\n- Do not return explanations, translations, or extra text.\n- If the same brand was returned in immediate previous response then return None\nOutput:\nReturn exactly one of the following:\n- A single brand name (string)\n- None\n",
        "options": {
          "systemMessage": "You are a strict automation agent.\nYou output only structured results that can be used to update a database.\nYou never add explanations.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        0
      ],
      "id": "a07bdba1-c259-4548-bef7-2f920a529452",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        592,
        272
      ],
      "id": "31e367c2-b5ae-4025-8b74-6166b4db9298",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "gHvHHbjsfixeOxVb",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.x_groq.id }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        768,
        272
      ],
      "id": "666a78d7-be7d-4452-8618-778734938e25",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1X9fGbOKtTqDvH04z4yfaIx8JHFxLhY2mIO3pVa6fEYA/edit?gid=1315167964#gid=1315167964",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1X9fGbOKtTqDvH04z4yfaIx8JHFxLhY2mIO3pVa6fEYA/edit?gid=1315167964#gid=1315167964",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_id": "={{$execution.id}}",
            "timestamp": "={{ $now.toLocal() }}",
            "date": "={{ $now.format(\"yyyy-MM-dd\") }}",
            "hour": "={{ $now.format(\"HH\") }}",
            "brand": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "event_id",
              "displayName": "event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hour",
              "displayName": "hour",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        0
      ],
      "id": "6f5f7ddf-c8b0-4b00-a53a-2f64e687f186",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VaWmf0wjSfkkh03H",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get sample audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sample audio": {
      "main": [
        [
          {
            "node": "speech to text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "speech to text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1093884d-6d4d-4316-979a-997daa495600",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97cdaab89af73ebd5970b4d23e9d1859d7eb3b935c78db3eb6127ddba5b4902d"
  },
  "id": "LgPt9TG5jS4OVC1dq19A3",
  "tags": []
}